footer {
  background-color: #0E0E0E;
  color: white;
  padding: 2rem;
}

.gym {
  color: red;
  cursor: pointer;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  /* padding: 3rem; */
  justify-content: center;
  align-items: center;

}

.content {
  display: flex;
  gap: 2rem;


}

.media {
  display: flex;
  flex-direction: column;

  flex: 1;

}

.icons {
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
  align-items: center;

}

.icon {
  background-color: white;
  color: red;
  align-self: center;
  border-radius: 50%;
  cursor: pointer;
  /* width: 3vw;
    height: 3vh; */
}

.health {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* line-height:0.7rem; */

}

.footText {
  line-height: 0.5rem;
}


.copy {
  text-align: center;
}

.living:hover {
  color: red;
  ;
}

.living {
  cursor: pointer;
}

@media only screen and (max-width:760px) {

  .content {
    display: flex;
    flex-direction: column;
  }

  .health {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .footText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .media {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}