.container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 89.7vh; */
    height:100vh;
    background: linear-gradient(rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.3)),
        url("https://watermark.lovepik.com/photo/40138/5520.jpg_wh1200.jpg");
    background-size: cover;
    background-position: center;
   
}

.form {
    background-color: white;
    padding: 0px 60px;
    border-radius: 10px;
    padding-bottom:2rem;
}

.h1 {
    
    color: #DC3545;
    text-align: center;
    margin-top: 2rem;
}

.button {
    width: 100%;
    height: 50px;
    padding: 10px;
    border: none;
    background-color: #DC3545;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 30px;
}


/* inputField css */

.formInput {
    display: flex;
    flex-direction: column;
    width: 280px;
}

input {
    padding: 10px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid gray;
}


label {
    font-size: 12px;
    color: gray;
}

span {
    font-size: 12px;
    padding: 3px;
    color: red;
   
}

.account {
    cursor: pointer;
}
