
.container{
    display: flex;
    flex-direction: column;
    background-color:#242B2E;
   
   }
   .upperContainer {
       display: flex;
       margin-top: 6rem;
       align-items: center;
       justify-content: center;
       gap: 6rem;
       margin-bottom: 2rem;
   }
   .img{
       width: 25rem;
       height:37rem;
       border-radius: 2rem;
   }
   .textGym{
       color:white;
       height: 34.37rem;
       max-width: 500px;
      
       padding-left: 6rem;
       border-left: .5rem solid  #D82E2F;
   }
   .hedh4{
       margin-top: 4rem;
   }
   
  
   
   .lowerContainer{
       max-width: 80vw;
       color: white;
       margin-left: auto;
       margin-right: auto;
   }
   
   @media only screen and (max-width: 916px) {
    .container {
        overflow: hidden;
    }
      .upperContainer{
       flex-direction: column;
      }
      .textGym{
       border: none;
       padding-left: 0;
       display: flex;
       justify-content: center;
       flex-direction: column;
       padding:2rem;
      }
      .lowerContainer{
       margin-left: auto;
       margin-right: auto;
      }
      
   } 