.Scroller{
    position: relative;
    overflow: hidden; 
    padding: 20px;
}


.Product-container{
    padding: 0 10px;
    overflow-x: hidden; 
    scroll-behavior: smooth;
    display:flex
}

.pre-btn, .next-btn {
    border: none;
    width: 50px;
    height: 100%;
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgb(255, 250, 250);
}

.next-btn{
    right: 0;
}

.pre-btn p, .next-btn p{
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 1px black;
    border-radius: 10px;
    color: aliceblue;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.product-cards{
    min-width: 300px;
    max-width: 300px;
    height: 400px;
    margin : 10px;
    background-color: black;
    color: aliceblue;
    display: flex;
    padding : -50px
}

.product-images{
min-width: 300px;
max-width: 300px;
height: 400px;
display: flex;
}

.products{
min-width: 300px;
max-width: 300px;
height: 400px;
display: flex;
}

.caption{
    border: 1px solid black;
    color: black;
    position: relative;
}

